.Cart {
    border-bottom: 1px solid #eee;
}

.Cart-Button {
    background: rgb(248, 248, 248);
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    height: 100%;
    padding: 12px 25px 8px;
    position: absolute;
    right: 0;
    top: 0;
}

.Cart-Button:hover {
    cursor: pointer;
    border-bottom: 3px solid rgb(170, 213, 0);
}

.Cart-Button img {
    width: 32px;
}

.Cart-Indicator {
    background: black;
    border-radius: 50%;
    color: white;
    display: inline-block;
    font-size: .8rem;
    font-weight: 700;
    height: 1.1rem;
    line-height: .8rem;
    padding-left: 7px;
    padding-top: 2px;
    position: absolute;
    right: 10px;
    top: 5px;
    width: 1.1rem;
}

.Cart-Wrapper {
    font-size: 1.2rem;
    font-weight: 300;
    padding: 13px 10px 12px 130px;
    position: relative;
}
.Cart-Wrapper strong {
    font-weight: 700;
    margin-right: 15px;
}

.Cart-list {
    .Cart-list-wrapper {
        border: 1px solid #f0f0f0;
        margin-top: 30px;
        padding: 20px 25px;
    }
}
