{
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "jest": true,
        "node": true
    },
    "extends": ["airbnb", "plugin:jest/recommended"],
    "parser": "babel-eslint",
    "plugins": [
        "react",
        "jest"
    ],
    "rules": {
        "import/no-dynamic-require": 0,
        "react/jsx-filename-extension": [
            1,
            { "extensions": [".js", ".jsx"] }
        ],
        "react/jsx-indent": [2, 4],
        "react/jsx-indent-props": [2, 4],
        "jsx-a11y/href-no-hash": "off",
        "indent": [
            "error",
            4
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "quotes": [
            "error",
            "double"
        ],
        "semi": [
            "error",
            "always"
        ],
        "function-paren-newline": [
            "error",
            "consistent"
        ],
        "no-undef": "error"
    },
    "settings": {
      "react": {
        "createClass": "createClass", // Regex for Component Factory to use, default to "createClass"
        "pragma": "React",  // Pragma to use, default to "React"
        "version": "16.0.0" // React version, default to the latest React stable release
      }
    }
}
